body{
background-color: aliceblue;
margin: 1% 10%;
max-width: 1000px;
}

img{
width: 100%;
height: 70%;
}

h2{
text-align: center;
text-transform: uppercase;
border-bottom: solid black 2px;
}

p{
border: dotted black 1px; 
padding: 10px; 
letter-spacing: 2;
}

#fist{

}

#second{
   
}

footer{
    
}