html, body{
  height:100%;
  width:100%;
}

#foursquare-map{

  height:70%;
  width:100%;
  -webkit-transition: all 0.15s; /* Safari */
    transition: all 0.15s;
}
#view{


  height:70%;
  width:70%;



}

.floating-panel{
  width:50%!important;
  float:left;

  z-index:5;

}


.map-resized{
  width:50%!important;
  float:left;

}
.red{
  border:1px solid red;
}

#btn, .option{
  margin-left:10px;
}
#wrapper{
  width:100%;
  height:100%;
}
#description{
  width:100%;
  height: 100%;
}
.clear{
  clear:both;
}

.container{
  width:60%!important;
}
